@keyframes rotation{
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/*Header*/

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

/*Description*/

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:last-child {
  margin-bottom: 0;
}

/*Video*/

/*Oakley*/

/*Feynman*/

/*Digits*/

.table__cell:last-child {
  margin-bottom: 0;
}

/*Khan*/

/*Kaufman*/

/*Resources*/

/*Footer*/

.footer__column-link_icon_fb::before {
  content: url(../images/facebook_color_white.svg);
  margin-right: 10px;
}

.footer__column-link_icon_vk::before {
  content: url(../images/vk_color_white.svg);
  margin-right: 10px;
}

.footer__column-link_icon_inst::before {
  content: url(../images/instagram_color_white.svg);
  margin-right: 10px;
}
